@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 1.7;
  background-color: hsl(0deg, 0%, 10%);
}

.container {
  margin: 0 auto;
  max-width: 1100px; /*Prevent horizontal scrolling*/
}

h1, h2, h3 {
  color: hsla(0deg, 0%, 100%, 0.878);
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  color: hsla(0deg, 2%, 92%, 0.878);
}

pre {
  background-color: hsl(0deg, 0%, 14%);
  display: block;
}

code {
  color: rgba(255, 255, 255, 0.8705882353);
}

div,
section,
article {
  display: block;
}

nav {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding-left: 30px;
}

nav h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

nav ul {
  height: 90%;
  padding-left: 20px;
}

nav li {
  font-size: 1.4rem;
  padding: 15px 0px;
  list-style: none;
}

nav li a {
  color: hsla(0deg, 0%, 61%, 0.878);
  transition: color 0.5s;
}

nav li a:hover {
  color: hsla(0deg, 0%, 100%, 0.878);
}

nav a {
  color: hsla(0deg, 0%, 100%, 0.878);
  text-decoration: none;
  border-bottom: 1px solid;
}

/*Introduction*/
.introduction h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
}

.top-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-cards .card1 {
  height: 180px;
  width: 1100px;
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card1 .flex {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.flex::before {
  content: "ⓘ";
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  top: 4px;
  left: 40px;
  color: rgb(167, 166, 166);
}

.card1 h3 {
  font-size: 1.45rem;
  font-weight: 350;
  margin-left: 75px;
  margin-bottom: 5px;
}

.card1 i {
  color: hsla(0deg, 0%, 100%, 0.878);
  padding-right: 15px;
  margin-left: 30px;
}

.card1 ul {
  margin-left: 95px;
}

.card1 li {
  color: hsla(0deg, 0%, 61%, 0.878);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: -5px;
}

.card1 li a {
  color: hsl(153deg, 47%, 49%);
  text-decoration: none;
  transition: color 0.5s;
}

.card1 li a:hover {
  color: hsl(153deg, 62%, 54%);
  transition: color 0.5s;
}

.top-cards .card2 {
  height: 110px;
  width: 1100px;
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card2 a {
  text-decoration: none;
}

.card2 span {
  color: hsl(153deg, 47%, 49%);
}

.card2 .flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.flex2 .banner {
  margin-left: -140px;
}

.flex2 h3 {
  margin-left: -285px;
  font-weight: 500;
}

.card2 img {
  display: inline-block;
  vertical-align: middle;
}

.card2 .logo-background {
  width: 76px;
  height: 76px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -130px;
}

.card2 h3 {
  font-size: 1.3rem;
}

.horizontal-line {
  margin: 4rem 0 1.8rem;
  border-top: 1px solid hsla(0deg, 0%, 33%, 0.65);
  padding-top: 1.2rem;
}

.what-is-vue {
  margin-top: 10px;
}

.what-is-vue > p {
  padding: 20px 0px;
}

.what-is-vue b {
  font-size: 1.5rem;
}

.what-is-vue pre {
  margin: 20px 0px;
  border-radius: 15px;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}

.first-pre:before {
  content: "js";
  position: absolute;
  top: 5px;
  right: 20px;
  color: rgba(143, 143, 143, 0.73);
  font-size: 1.3rem;
}

.first-pre {
  height: 385px;
}

.second-pre:before {
  content: "template";
  position: absolute;
  top: 5px;
  right: 20px;
  color: rgba(143, 143, 143, 0.73);
  font-size: 1.3rem;
}

.second-pre {
  height: 240px;
}

.what-is-vue pre code {
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  font-size: 1.2rem;
}

.result {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 25px 0px;
}

.demo {
  height: 120px;
  width: 100%;
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.demo button {
  background-color: hsl(0deg, 0%, 18%);
  color: hsla(0deg, 0%, 100%, 0.878);
  padding: 8px 12px;
  border: 1px solid hsla(0deg, 0%, 33%, 0.65);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 38px;
  left: 35px;
}

.core-features p {
  padding: 20px 0px;
}
.core-features ul {
  color: hsla(0deg, 0%, 100%, 0.878);
  list-style: none;
}
.core-features li {
  font-size: 1.4rem;
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
  color: hsla(0deg, 2%, 92%, 0.878);
}
.core-features li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 44%);
  transition: background-color 0.5s;
  left: -1.6rem;
  top: 1rem;
}

.core-features-part2 p {
  margin-top: -15px;
}
.core-features-part2 span {
  color: hsl(153deg, 47%, 49%);
}

.Prerequisites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid #42b883;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 14%);
  margin-bottom: 100px;
}
.Prerequisites h3 {
  font-size: 1.43rem;
  font-weight: 400;
}
.Prerequisites .Prereq-card {
  position: relative;
}
.Prerequisites .Prereq-card h3 {
  padding-left: 70px;
  padding-top: 30px;
}
.Prerequisites .Prereq-card p {
  padding: 10px 30px 30px 70px;
  color: hsla(0deg, 1%, 66%, 0.878);
  line-height: 1.4;
  word-wrap: break-word;
  letter-spacing: -0.4px;
}
.Prerequisites .Prereq-card:before {
  content: "ⓘ";
  position: absolute;
  font-weight: 600;
  font-size: 23px;
  top: 32px;
  left: 32px;
  color: #42b883;
}

.progress-header {
  padding-bottom: 40px;
}

.progress-framework p {
  padding-bottom: 30px;
}
.progress-framework ul {
  color: hsla(0deg, 0%, 100%, 0.878);
  list-style: none;
  padding: 0 0 30px 30px;
}
.progress-framework ul li {
  font-size: 1.4rem;
  position: relative;
  color: hsla(0deg, 2%, 92%, 0.878);
}
.progress-framework ul li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 36%);
  transition: background-color 0.5s;
  left: -1.8rem;
  top: 0.9rem;
}
.progress-framework a {
  color: hsl(153deg, 47%, 49%);
  text-decoration: none;
  transition: color 0.5s;
}
.progress-framework a:hover {
  color: hsl(153deg, 62%, 54%);
  transition: color 0.5s;
}

.single-file-components h2 {
  padding-bottom: 2.1rem;
}
.single-file-components pre {
  position: relative;
  margin: 40px 0;
  border-radius: 15px;
  overflow-x: auto;
}
.single-file-components pre:before {
  content: "vue";
  position: absolute;
  top: 5px;
  right: 20px;
  color: rgba(143, 143, 143, 0.73);
  font-size: 1.4rem;
}
.single-file-components pre code {
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-wrap: break-word;
  font-size: 1.3rem;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}
.single-file-components .p-2 {
  padding-bottom: 20px;
}

.api-styles p {
  padding: 30px 0;
}/*# sourceMappingURL=style.css.map */